.page {
	padding-left: 20px;
	padding-right: 40%;
	padding-top: 20px;
	
	}
	.groupbox-name{
	font-weight: bold;
	margin-left:10px;
}
.groupbox{
	margin-bottom: 20px;
	margin-left:10px;
}
#hhh{
	margin-bottom: -18px;
}
.radio{
	
}
